.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid;
    border-radius: 4px;
    border-color: #DDDDDD;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;   
   }

.filters .text {
    display: flex;
    flex-direction: column;
}

.filters .text h3 {
    font-weight: 600;
    margin-bottom: 2%;
}

.filters .text h4 {
    margin: 0 0 12px;
    font-weight: 400;
    font-size: 14px;
}

.filters .text h4,
.filters .text h3 {
    margin-left: 20%;
    min-width: 150px;
}

.filters button {
    font-size: 18px;
    background-color: #ff5a5f;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: 3%;
}

.filters button:hover {
    opacity: 90%;
}

.locations {
    height: 100%;
    width: 25%;
    border-right: 1px #DDDDDD solid;
}

.amenities {
    height: 100%;
    width: 25%;
}

.popover {
    background-color: rgb(248, 248, 248);
    display: none;
    position: relative;
    width: 100%;
    border: 1px #DDDDDD solid;
    border-radius: 4px;
    overflow: auto;
    scroll-behavior: smooth;
    max-height: 300px;
}

.popover ul {
    list-style-type: none;
    line-height: 1.5em;
}

.amenities .popover ul {
    padding-left: 20%;
    line-height: 2em;
}

.popover ul h2 {
    margin-top: 2em;
    margin-bottom: 0;
}

.popover ul ul {
    padding-left: 1em;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 3em;
    text-align: left;
}

.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}