<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirBnB clone</title>
    <link rel="shortcut icon" type="image/x-icon" href="static/images/icon.ico" >
    <link rel="stylesheet" href="static/styles/4-common.css"/>
    <link rel="stylesheet" href="static/styles/3-header.css"/>
    <link rel="stylesheet" href="static/styles/3-footer.css"/>
    <link rel="stylesheet" href="static/styles/6-filters.css"/>
    <link rel="stylesheet" href="static/styles/8-places.css">
</head>
<body>
    <header>
        <object type="image/png" data="static/images/logo.png"></object>
    </header>
    <div class="container">
        <section class="filters">
            <div class="locations">
                <div class="text">
                    <h3>States</h3>
                    <h4>&nbsp</h4>
                </div>
                <div class="popover">
                    <ul>
                        {% for state in all_states | sort(attribute="name") %}
                        <li><h2>{{ state.name }}</h2>
                            <ul>
                                {% for city in state.cities | sort(attribute="name") %}
                                <li><h4>{{ city.name }}</h4></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="amenities">
                <div class="text">
                    <h3>Amenities</h3>
                    <h4>&nbsp</h4>
                </div>
                <div class="popover">
                    <ul>
                        {% for amenity in all_amenities | sort(attribute="name") %}
                        <li><h4>{{ amenity.name }}</h4></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <button>Search</button>
        </section>
        <section class="places">
            <h1>Places</h1>
            {% for place in all_places | sort(attribute="name") %}
            <article>
                <h2>{{ place.name }}</h2>
                <div class="price_by_night">
                    <p>{{ place.price_by_night }}</p>
                </div>
                <div class="information">
                    <div class="max_guest">
                        <object type="image/png" data="images/icon_group.png"></object>
                        <p>{{ place.max_guest }} Guests</p>
                    </div>
                    <div class="number_rooms">
                        <object type="image/png" data="images/icon_bed.png"></object>
                        <p>{{ place.number_rooms }} Room</p>
                    </div>
                    <div class="number_bathrooms">
                        <object type="image/png" data="images/icon_bath.png"></object>
                        <p>{{ place.number_bathrooms }} Bathroom</p>
                    </div>
                </div>
                <div class="user">
                    {% for user in all_users %}
                        {% if user.id == place.user_id %}
                        <p><b>Owner:</b> {{ user.first_name }}{{ user.last_name }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="description">
                    <p>{{ place.description }}</p>
                </div>
            </article>
            {% endfor %}
        </section>
    </div>
    <footer>
        <p>Holberton School</p>
    </footer> 
</body>
</html>